/* Reset styles */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar container */
  .navbar {
    display: flex;
    justify-content: space-between; /* Space between logo, menu, and right section */
    align-items: center; /* Vertical centering */
    padding: 10px 20px; /* Adjust spacing */

    color: white; /* Text color for menu items */
    height: 60px; /* Navbar height */
    width: 100%;
     /* Sticks to the top */
    top: 0;
    
  }
  
  /* Logo styles */
  .logo {
    height: 50px; /* Adjust logo size */
  }
  
  /* Navigation menu */
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px; /* Space between menu items */
  }
  
  .navbar-menu a {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #49557e;
  }
  
  .navbar-menu a:hover {
    color: orange; /* Change color on hover */
  }
  
  /* Right section of the navbar */
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between search icon, basket icon, and button */
  }
  
  /* Search icon styles */
  .navbar-search_icon img {
    height: 24px; /* Adjust icon size */
    cursor: pointer;
  }
  
  /* Basket icon */
  .navbar-search_icon img {
    height: 24px;
  }
  
  .navbar-right .dot {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    transform: translate(8px, -8px); /* Adjust position relative to the basket */
  }
  
  /* Sign-in button */
  .navbar-right button {
    background-color: orange;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
  }
  
  .navbar-right button:hover {
    background-color: #ff6600; /* Darker orange on hover */
  }

  .navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  @media (max-width:1050px){
    .navbar .logo{
      width: 20px;
    }
    .navbar-menu{
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right{
      gap: 30px;
    }
    .navbar-right img{
      width: 22px;
    }
    .navbar-right button{
      padding: 8px 25px;
    }
  }

  @media (max-width:900px){
    .navbar .logo{
      width: 120px;
    }
    .navbar-menu{
      gap: 15px;
      font-size: 16px;
    }
    .navbar-right{
      gap: 20px;
    }
    .navbar-right img{
      width: 20px;
    }
    .navbar-right button{
      padding: 7px 20px;
      font-size: 15px;
    }
  }

  @media (max-width:750px){

    .navbar-menu{
      display: none;
    }
  }

  